<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Clubs</h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped datatable">
				<thead>
					<tr>
						<th>Name</th>
						<th>Short name</th>
						<th>Is Active?</th>
						<th>Email Reminders</th>
						<th>SMS Reminders</th>
						<th>Show Patrols</th>
						<th>Show Rosters</th>
						<th>Show Swaps</th>
						<th>Show Extra Patrols</th>
						<th>Show Skills Maintenance</th>
						<th>Lat/Long</th>
						<th>Members</th>
						<th>Patrols</th>
						<th>Rosters</th>
						<th>Requests</th>
						<th></th>
					</tr>
				</thead>
				<tbody>

					<% @clubs.each do |club| %>
						<tr>
							<td>
								<%= club.name %>
							</td>
							<td>
								<%= club.short_name %>
							</td>
							<td>
								<%= club.is_active %>
							</td>
							<td>
								<%= club.enable_reminders_email %>
							</td>
							<td>
								<%= club.enable_reminders_sms %>
							</td>
							<td>
								<%= club.show_patrols %>
							</td>
							<td>
								<%= club.show_rosters %>
							</td>
							<td>
								<%= club.show_swaps %>
							</td>
							<td>
								<%= club.show_outreach %>
							</td>
							<td>
								<%= club.show_skills_maintenance %>
							</td>
							<td>
								<%= club.lat %>/<%= club.lon %>
							</td>
							<td>
								<%= club.users.count %>
							</td>
							<td>
								<%= club.patrols.count %>
							</td>
							<td>
								<%= club.rosters.count %>
							</td>
							<td>
								<%= club.requests.count %>
							</td>
							<td>
								<%= link_to 'Edit' , edit_club_path(club) %>
							</td>
						</tr>
						<% end %>

				</tbody>
			</table>
		</div>

		<%= link_to 'New Club' , new_club_path %>

	</div>
</div>
