<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Clubs</h2>
	</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-striped datatable">
				<thead>
				      <tr>
				      <th>Name</th>
				      <th>Short name</th>
				      <th>Members</th>
				      <th>Patrols</th>
				      <th>Rosters</th>
				      <th>Requests</th>
				      <th>Skills Maintenance?</th>
				      <th>Extra Patrols?</th>
				      <th>Lat/Long</th>
				      <th></th>
					</tr>
				</thead>
				<tbody>

					<% @clubs.each do |club| %>
					      <tr>
					        <td><%= club.name %></td>
					        <td><%= club.short_name %></td>
					        <td><%= club.users.count %></td>
					        <td><%= club.patrols.count %></td>
					        <td><%= club.rosters.count %></td>
					        <td><%= club.requests.count %></td>
					        <td><%= club.show_skills_maintenance %></td>
					        <td><%= club.show_outreach %></td>
					        <td><%= club.lat %>/<%= club.lon %></td>
					        <td><%= link_to 'Edit', edit_club_path(club) %></td>
					      </tr>
					    <% end %>

				</tbody>
			</table>
		</div>

		<%= link_to 'New Club', new_club_path %>

	</div>
</div>