<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Swapsea - Offer Received</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

    <style type="text/css">

      body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 14px;
        background-color: #F2EEEC;
        margin: 0;
      }

      a,
      a:visited {
        color: #CC0000;
        text-decoration: none;
      }

      a:hover,
      a:focus {
        color: #990000;
        text-decoration: none;
      }

      .container {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.175);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.175); 
      }

      .title {
        background-color: #F13E0B;
        color: #FEFEFE;
        width: auto;
      }

      .title img {
        padding: 20px;
      }

      .title h2 {
        float: right;
        padding: 20px;
        margin: 0;
      }
      .offer {
        margin-bottom: 10px;
      }

      .offer-new {
        color: #C00;
      }

      .roster {
        font-weight: 600;
      }

      .content {
        background-color: #FEFEFE;
        width: auto;
        padding: 40px 60px 60px 60px;
      }

      .footer {
        text-align: center;
        width: auto;
        font-size: 0.8em;
        color: #AAA;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      @media only screen and (max-width: 640px) {
        body {
          background-color: #FEFEFE;
        }
        .title {
          text-align: center !important;
          width: auto;
        }
        .title h2 {
          padding-top: 0;
          float: none;
        }
        .container {
          width: 100% !important;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        .content {
          padding: 20px;
        }
      }

      </style>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <%= image_tag('main-logo.png', size: "150", alt: "Swapsea", class: "logo") %>
        <h2>Offer Received</h2>
      </div>
      <div class="content">
        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          You have a new offer!
        </p>
        <p>
          <strong>Your swap request</strong><br/>
          <%= @request.roster.start.strftime("%A %d %B %Y") %>,
          <%= @request.roster.start.strftime("%H:%M") %> - <%= @request.roster.finish.strftime("%H:%M") %><br/>
          <%= @request.roster.patrol_name %><br/>
          Status: <%= @request.status.capitalize %>
        </p>
        <p>
          <% if @offer.roster.present? %>
          <strong>Current offers</strong><br/>
          <% @request.offers.where(:status => 'pending').order(id: :desc).each do |offer| %>
          <div class="offer<%= ' offer-new' if offer.id == @offer.id %>">    
          <%= raw('<strong>NEW</strong><br/>') if offer.id == @offer.id %>

          
            <div class="roster"><%= offer.roster.start.strftime("%A %d %B %Y") %>, <%= offer.roster.start.strftime("%H:%M") %> - <%= offer.roster.finish.strftime("%H:%M") %></div>
           
            <div class="patrol"><%= offer.roster.patrol_name %></div>
            <div class="member"><%= offer.user.first_name %> <%= offer.user.last_name %></div>
          </div>
           <% end %>
           <% else %>
           No Patrol Offered
          <% end %>
        </p>
        <p>
          <strong>A quick swap is a good swap</strong><br/>
          Offers won't wait for you. Most members make the same offer to multiple people at the same time. We'll let you do the math, but we encourage you to secure offers quickly to avoid disappointment.
        </p> 
        <br/>
        <p>
          <a href="https://www.swapsea.com.au/users/sign_in">Click here</a> to login to Swapsea.
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
      </div>
    </div>
    <div class="footer">
      Copyright 2019 Swapsea <br/>
    </div>
  </body>
</html>