        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          Your offer was unsuccessful.
        </p>
        <p>
          Below are the details of the offer for your reference.
        </p>
        <p>
          <strong>Your offer</strong><br/>
          <%= @offer.roster.patrol.name %><br/>
          <%= @offer.roster.start.strftime("%A %d %B %Y") %><br/>
          <%= @offer.roster.start.strftime("%H:%M") %> - <%= @offer.roster.finish.strftime("%H:%M") %><br/>
          Status: <%= @offer.status.capitalize %>
        </p>
        <p>
          <strong>For swap request</strong><br/>
          <%= @request.roster.patrol.name %><br/>
          <%= @request.roster.start.strftime("%A %d %B %Y") %><br/>
          <%= @request.roster.start.strftime("%H:%M") %> - <%= @request.roster.finish.strftime("%H:%M") %>
        </p>
        <br/>
        <p>
          <%= link_to 'Login to Swapsea', login_url %>.
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
