        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          You have a new offer - <strong><%= link_to 'View it now', request_url(@request) %></strong>!
        </p>
        <p>
          <strong>Your swap request</strong><br/>
          <%= @request.roster.start.strftime("%A %d %B %Y") %>,
          <%= @request.roster.start.strftime("%H:%M") %> - <%= @request.roster.finish.strftime("%H:%M") %><br/>
          <%= @request.roster.patrol.name %><br/>
        </p>
        <p>
          <strong>Current offers</strong><br/>
          <% @request.offers.where(:status => 'pending').order(id: :desc).each do |offer| %>
          <div class="offer<%= ' offer-new' if offer.id == @offer.id %>">
          <%= raw('<strong>NEW</strong><br/>') if offer.id == @offer.id %>
            <div class="roster"><%= offer.roster.start.strftime("%A %d %B %Y") %>, <%= offer.roster.start.strftime("%H:%M") %> - <%= offer.roster.finish.strftime("%H:%M") %></div>
            <div class="patrol"><%= offer.roster.patrol.name %></div>
            <div class="member"><%= offer.user.name %></div>
            <div class="comment"><%= offer.comment %></div>
          </div>
          <% end %>
        </p>
        <p>
          <strong>A quick swap is a good swap</strong><br/>
          Offers won't wait for you. Most members make the same offer to multiple people at the same time. We'll let you do the math, but we encourage you to secure offers quickly to avoid disappointment.
        </p>
        <br/>
        <p>
          <%= link_to 'View all offers now', request_url(@request) %>.
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
