        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          You have a skills maintenance session this week!
        </p>
        <strong>Your session</strong><br/>
        <p>
          <%= @proficiency.name %><br/>
          <%= @proficiency.start.strftime("%A %d %B %Y") %><br/>
          <%= @proficiency.start.strftime("%H:%M") %> - <%= @proficiency.finish.strftime("%H:%M") %>
        </p>
        <strong>Be 15 minutes early</strong><br/>
        <p>
          We are trying to make the skills maintence sessions run like a well-oiled machine, and avoid any waiting around. To ensure this happens, it would be great if you can be there 15 minutes before the start of your session to get any paperwork out of the way.
        </p>
        <strong>Can't make it?</strong><br/>
        <p>
          We're not mad, we understand life gets in the way sometimes. However, as there are limited spots available for each session, we just ask that you make your spot available for someone else.
        </p>
        <p>
          To cancel: Login to Swapsea, click on Skills Maintenance, and click 'cancel' next to your name.
        </p>
        <br/>
        <p>
          <a href="https://www.swapsea.com.au/users/sign_in">Click here</a> to login to Swapsea.
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea + The Education Team
        </p>
