        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          Congratulations, your swap is now confirmed!
        </p>
        <p>
          <strong>Your new patrol</strong><br/>
          <%= @offer.roster.patrol.name %><br/>
          <%= @offer.roster.start.strftime("%A %d %B %Y") %><br/>
          <%= @offer.roster.start.strftime("%H:%M") %> - <%= @offer.roster.finish.strftime("%H:%M") %><br/>
          <em>You are now a sub for <%= @offer.user.name %></em>
        </p>
        <p>
          <strong>Your old patrol</strong><br/>
          <%= @request.roster.patrol.name %><br/>
          <%= @request.roster.start.strftime("%A %d %B %Y") %><br/>
          <%= @request.roster.start.strftime("%H:%M") %> - <%= @request.roster.finish.strftime("%H:%M") %><br/>
          <em><%= @offer.user.name %> is now a sub for you.</em>
        </p>
        <% if @offer.mobile.present? || @offer.email.present? %>
        <p>
          <strong>Need to get in contact?</strong><br/>
          You can contact <%= @offer.user.name %> via the details below.<br/>
          <%= @offer.mobile %><br/>
          <%= @offer.email %>
        </p>
        <% end %>
        <p>
          <strong>Can't make your new patrol?</strong><br/>
          You are now responsible for turning up to your new patrol. If you can't make it, you will need to swap it again. You cannot cancel a swap once it has been confirmed (but you can swap back).
        </p>
        <br/>
        <p>
        See your <%= link_to 'updated roster at Swapsea', dashboard_url %>.
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
