        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          Your swap request has been created!
        </p>
        <p>
          <strong>Details:</strong><br/>
          <%= @request.roster.patrol.name %><br/>
          <%= @request.roster.start.strftime("%A %d %B %Y") %><br/>
          <%= @request.roster.start.strftime("%H:%M") %> - <%= @request.roster.finish.strftime("%H:%M") %>
        </p>
        <p>
          Fill your swap request by <b>making an offer</b> to someone else's request.<br />
          Make an offer now at <%= link_to 'Swapsea', swaps_url %>.

        <p>We'll remind you to make offers unless you <%= link_to 'opt out', edit_request_url(@request) %>.</p>

        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
