        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>Make the first move!</p>

        <p>Fill your swap request on <%= @request.roster.start.strftime("%A %d %B %Y") %> by <b>making an offer</b> to someone else.</p>

        <p>Can you make any of these dates instead?</p>

        <p><ul>
        <% @other_request_dates.map do |other_request_date| %>
        <li><%= other_request_date %></li>
        <% end %>
        </ul></p>

        <p>Make an offer now at <%= link_to 'Swapsea', swaps_url %>.

        <p>We'll remind you once a week unless you <%= link_to 'opt out in your request', edit_request_url(@request) %>.</p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
