        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          You have a patrol coming up soon.
        </p>
        <p>
          <strong>Upcoming patrol</strong><br/>
          <%= @next_roster.patrol.name %><br/>
          <%= @next_roster.start.strftime("%A %d %B %Y") %><br/>
          <%= @next_roster.start.strftime("%H:%M") %> - <%= @next_roster.finish.strftime("%H:%M") %>
        </p>
        <% if @following_roster != nil %>
        <p>
          <strong>Following patrol</strong><br/>
          <%= @following_roster.patrol.name %><br/>
          <%= @following_roster.start.strftime("%A %d %B %Y") %><br/>
          <%= @following_roster.start.strftime("%H:%M") %> - <%= @following_roster.finish.strftime("%H:%M") %><br/>
        </p>
        <% end %>
        <p>
          If you can't make one of your patrols, <a href="https://www.swapsea.com.au/dashboard">swap it on Swapsea</a>.
        </p>
        <p>
          Check the weather conditions before your patrol.<br/>
          <a href="https://swell.willyweather.com.au/">Willy Weather</a>
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Much Love,<br/>
          Swapsea
        </p>
