<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <title>Welcome to Swapsea!</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>

<style type="text/css">

      body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 14px;
        background-color: #F2EEEC;
        margin: 0;
      }

      a,
      a:visited {
        color: #CC0000;
        text-decoration: none;
      }

      a:hover,
      a:focus {
        color: #990000;
        text-decoration: none;
      }

      .container {
        width: 640px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.175);
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.175);
      }

      .title {
        background-color: #F13E0B;
        color: #FEFEFE;
        width: auto;
      }

      .title img {
        padding: 20px;
      }

      .title h2 {
        float: right;
        padding: 20px;
        margin: 0;
      }

      .content {
        background-color: #FEFEFE;
        width: auto;
        padding: 40px 60px 60px 60px;
      }

      .footer {
        text-align: center;
        width: auto;
        font-size: 0.8em;
        color: #AAA;
        margin-top: 20px;
        margin-bottom: 40px;
      }

      @media only screen and (max-width: 640px) {
        body {
          background-color: #FEFEFE;
        }
        .title {
          text-align: center !important;
          width: auto;
        }
        .title h2 {
          padding-top: 0;
          float: none;
        }
        .container {
          width: 100% !important;
          -webkit-box-shadow: none;
          box-shadow: none;
        }
        .content {
          padding: 20px;
        }
      }

      </style>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <%= image_tag('main-logo.png', size: "150", alt: "Swapsea", class: "logo") %>
        <h2>Welcome</h2>
      </div>
      <div class="content">
        <p>
          G'day <%= @user.first_name %>,
        </p>
        <p>
          <strong>Welcome to Swapsea!</strong>
        </p>
        <p>
          You are receiving this email because you are a patrolling member of <%= @user.club.name %>.
        </p>
        <p><%= link_to 'Activate your Swapsea account now', activate_url %>.</p>
        <p>
          <strong>What is Swapsea?</strong><br/>
          Swapsea is an online swap system for Surf Life Saving Clubs that allows you to swap your patrols with other club members. Swapsea will also remind you of upcoming patrols so you don't forget. Simply login and view your roster on the dashboard.
        </p>
        <p>
          <strong>How does it Work?</strong><br/>
          You swap your patrols in two ways: <b>Swap Requests</b> and <b>Offers</b>. <br/>
          Simply login to Swapsea and create a <em>Swap Request</em> and wait for other members to make you an <em>Offer</em>. The fastest way however is to make offers to other requests. You can only create one request per patrol, but as many offers as you like.
        </p>
        <p>
          <strong>What Next?</strong><br/>
         <%= link_to 'Click here to activate your Swapsea account', activate_url %>, then you can login and get started. If you need to update your email or details, go to the <a href="https://members.sls.com.au/">SLSA Members Area</a>.
        </p>
        <p>
          Have a great weekend!
        </p>
        <p>
          Cheers,<br/>
          Swapsea
        </p>
      </div>
    </div>
    <div class="footer">This email was sent to <%= @user.email %> as a patrolling member of <%= @user.club.name %>. If you received this message in error, please contact your club, or help@swapsea.com.au.<br/>
      Copyright 2021 Swapsea <br/>
    </div>
  </body>
</html>