<% cache [ "dashboard/statistics/organisation", selected_user_organisation_code ], expires_in: 20.minutes do %>
  <div class="hidden">
    <%= 20.minutes.from_now.utc %>
  </div>
  <div class="swap-feed">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Statistics</h2>
      </div>
      <div class="panel-body">
        <div class="stats">
          <div class="stat">
            <span class="number confirmed-swaps">
              <%= Request.joins(:user).where('users.organisation = ? AND requests.status = ?', selected_user.organisation, 'successful').count %>
            </span>
            <span class="title">Confirmed Swaps</span>
          </div>
          <div class="stat">
            <span class="number offers-pending">
              <%= Offer.joins(:user).where('users.organisation = ? AND offers.status = ?', selected_user.organisation, 'pending').count %>
            </span>
            <span class="title">Offers Pending</span>
          </div>
          <div class="stat">
            <span class="number requests-open">
              <%= Request.joins(:user).where('users.organisation = ? AND requests.status = ?', selected_user.organisation, 'open').count %>
            </span>
            <span class="title">Requests Open</span>
          </div>
          <% if ((selected_user.organisation.present?) && (selected_user.club.show_skills_maintenance)) %>
            <div class="stat">
              <span class="number proficiency-signups">
                <%= ProficiencySignup.all.count %>
              </span>
              <span class="title">Skills Maintenance Signups</span>
            </div>
          <% end %>
          <div class="stat">
            <span class="number proficiency-signups">
              <%= User.where(:organisation => selected_user.organisation).sum(:sign_in_count) %>
            </span>
            <span class="title">Member Logins</span>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
