<h1>Listing notices</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Link</th>
      <th>Link desc</th>
      <th>Image</th>
      <th>Video</th>
      <th>User</th>
      <th>Club</th>
      <th>System wide</th>
      <th>Visible from</th>
      <th>Visible to</th>
      <th>Visible</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @notices.each do |notice| %>
      <tr>
        <td><%= notice.title %></td>
        <td><%= notice.desc %></td>
        <td><%= notice.link %></td>
        <td><%= notice.link_desc %></td>
        <td><%= notice.image %></td>
        <td><%= notice.video %></td>
        <td><%= notice.user_id %></td>
        <td><%#= notice.club_id %></td>
        <td><%= notice.system_wide %></td>
        <td><%= notice.visible_from %></td>
        <td><%= notice.visible_to %></td>
        <td><%= notice.visible %></td>
        <td><%= link_to 'Show', notice %></td>
      </tr>
    <% end %>
  </tbody>
</table>
