<div class="panel panel-default">
  <div class="panel-heading">
    <h2>New notice</h2>
  </div>
  <div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @notice.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @notice.desc %>
</p>

<p>
  <strong>Link:</strong>
  <%= @notice.link %>
</p>

<p>
  <strong>Link desc:</strong>
  <%= @notice.link_desc %>
</p>

<p>
  <strong>Image:</strong>
  <%= @notice.image %>
</p>

<p>
  <strong>Video:</strong>
  <%= @notice.video %>
</p>

<p>
  <strong>User:</strong>
  <%= @notice.user_id %>
</p>

<p>
  <strong>Club:</strong>
  <%= @notice.club_id %>
</p>

<p>
  <strong>System wide:</strong>
  <%= @notice.system_wide %>
</p>

<p>
  <strong>Visible from:</strong>
  <%= @notice.visible_from %>
</p>

<p>
  <strong>Visible to:</strong>
  <%= @notice.visible_to %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @notice.visible %>
</p>

  </div>
</div>