
  <%= simple_form_for(@roster) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start, :minute_step => 15 %>
    <%= f.input :finish, :minute_step => 15 %>
  </div>
  <br/>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
  </div>
<% end %>
