<div class="patrol row">
  <div class="col-sm-9">
      <strong><%= p.patrol.club.short_name %></strong><br />
    <strong>
      <% if p.patrol.present? %>
        <%= p.patrol.name %>
      <% end %>
    </strong>
    <%= p.start.strftime("%H:%M") %> - <%= p.finish.strftime("%H:%M") %><br/>
  </div>
  <div class="col-sm-3">
    <%= link_to 'View', patrol_roster_path(p), :class => "btn btn-success pull-right" %>
  </div>
</div><!--/.patrol -->

<div class="members">
  <% p.swapped.each do |u| %>
    <div class="member row">
      <div class="name col-xs-6 out"><%= u[0].name %></div>
      <div class="name col-xs-6 in"><%= u[1].name %></div>
    </div>
  <% end %>
  <% @open_requests.where(roster_id: p.id).each do |open_req| %>
    <div class="member row open">
      <div class="name col-xs-6"><%= open_req.user.name %></div>
      <div class="name col-xs-6">(<%= time_ago_in_words(open_req.created_at) %> ago)</div>

    </div>
  <% end %>

</div>
