  <% if !@patrol %>

    <div class="box-info">
      <h1>No Patrol?</h1>
      <p>You are not allocated to a patrol currently. If you should be, please contact your Club Administration officer to ensure 'Surfguard' and Swapsea is updated.</p>
    <div>

  <% elsif @my_rosters.empty? %>

    <div class="box-info">
      <h1>No Patrols?</h1>
      <p>You have no upcoming patrols.</p>
    <div>

  <% else %>

    <div class="roster-timeline col-sm-12">
          <% @my_rosters.each do |r| %>

          

            <div class="roster col-sm-12 col-xs-12">
              <div class="date col-sm-2 col-xs-12"><%= r.start.strftime("%a %d %b") %></div>
              <div class="details col-sm-8 col-xs-12"><%= r.start.strftime("%H:%M") %> - <%= r.finish.strftime("%H:%M") %> <div class="patrol"><%= r.patrol.name %></div></div>
              <% if r.requests.where('user_id = ? AND status = ?', selected_user.id, 'open').present? %>
                  <%= link_to raw('<div class="request show col-sm-2 col-xs-12"><span class="fa fa-eye"></span><br/>View Request</div>'), request_path(r.requests.where('user_id = ? AND status = ?', selected_user.id, 'open').last) %>
              <% elsif r.start <= DateTime.now %>
                <%= link_to raw('<div class="request disabled col-sm-2 col-xs-12"><span class="fa fa-long-arrow-right"></span><br/>Make Offer</div>'), swaps_path %>
              <% else %>
                <%= link_to raw('<div class="request col-sm-2 col-xs-12"><span class="fa fa-random"></span><br/>Request Swap</div>'), new_request_path(:roster_id => r.id) %>
              <% end %>
            </div>
            <% end %>

          

    </div>

  <% end %>
