<div class="box-info">
  <p>
    <strong>Organisation:</strong>
    <%= @roster.organisation %>
  </p>

  <p>
    <strong>Patrol:</strong>
    <%= @roster.patrol %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= @roster.patrol.key %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= @roster.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= @roster.finish %>
  </p>

  <%= link_to 'Edit', edit_roster_path(@roster) %> |
  <%= link_to 'Back', admin_rosters_path %>
</div>
