<div id="report">
  <table class="table">
    <tr>
      <td>
        <div class="patrol">
          <h1>
            <%= @roster.patrol.club.name %>
          </h1>
          <h2>
            <%= @roster.patrol.name %>
          </h2>
        </div>
        <!--/.patrol -->
      </td>
      <td>
        <div class="details">
          <div class="date">
            <%= @roster.start.strftime("%A, %-d %B %Y") %>
          </div>
          <div class="time">
            <%= @roster.start.strftime("%H:%M") %> - <%= @roster.finish.strftime("%H:%M") %>
          </div>
        </div>
      </td>
      <td>
        <%= image_tag wicked_pdf_asset_base64('alternate-logo.png'), height: "50" , alt: "Swapsea" , class: "logo" %>
      </td>
    </tr>
    <tr>
      <td>
        Patrol Captain:
      </td>
      <td>
        Signature:
      </td>
      <td>
        <div class="created-at">Correct at: <%= Time.zone.now %>
        </div>
      </td>
    </tr>
  </table>


  <div class="members">
    <div class="patrol-report">
      <table class="table">
        <tr>
          <th class="position">Position</th>
          <th class="member">Rostered</th>
          <th class="sub">Substitute</th>
          <th class="sign center">Signature</th>
          <th class="start center">Start Time</th>
          <th class="finish center">Finish Time</th>
          <th class="total center">Total Time</th>
        </tr>
        <%= render partial: 'report_membership' , locals: {r: @roster, ru: @roster.patrol_members } %>
          <% 10.times do |n| %>
            <tr class="">
              <td>&nbsp;</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <% end %>
      </table>
    </div>
  </div>
