<div class="box-info">
  <h2><strong>Patrol Members</strong></h2>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Club</th>
          <th>Patrol Name</th>
          <th>Member ID</th>
          <th>Member Name</th>
          <th>Position</th>
        </tr>
      </thead>

      <tbody>
        <% @patrol_members.each do |patrol_member| %>
          <tr>
            <td><%= patrol_member.organisation if patrol_member.organisation.present? %></td>
            <td><%= patrol_member.patrol_name if patrol_member.patrol_name.present? %></td>
            <td><%= patrol_member.user_id %></td>
            <td><%= patrol_member.user.first_name if patrol_member.user.present? %> <%= patrol_member.user.last_name if patrol_member.user.present? %></td>
            <td><%= patrol_member.default_position %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<div>
<%= will_paginate @patrol_members %>
