<%= simple_form_for(@patrol) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.association :club, label_method: :name, value_method: :id, include_blank: false %>
    <%= f.input :name %>
    <%= f.input :short_name %>
    <%= f.label :need_bbm %>
    <%= f.input_field :need_bbm, collection: 0..5  %><br/>
    <%= f.label :need_irbd %>
    <%= f.input_field :need_irbd, collection: 0..5 %><br/>
    <%= f.label :need_irbc %>
    <%= f.input_field :need_irbc, collection: 0..5 %><br/>
    <%= f.label :need_artc %>
    <%= f.input_field :need_artc, collection: 0..5 %><br/>
    <%= f.label :need_firstaid %>
    <%= f.input_field :need_firstaid, collection: 0..5 %><br/>
    <%= f.label :need_bronze %>
    <%= f.input_field :need_bronze, collection: 0..5 %><br/>
    <%= f.label :need_src %>
    <%= f.input_field :need_src, collection: 0..5 %><br/>
    <%= f.label :special_event %>
    <%= f.input_field :special_event, as: :boolean, boolean_style: :inline %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
