<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Activate Your Account<h2/>
            </div>
            <div class="panel-body">
                <h3>Get ready for the 2021/22 season!</h3>
                <p>Enter your email address below to receive an activation link via email.<br/>
                <b>Note:</b> Your email must <u>exactly</u> match that in <a href="https://members.sls.com.au/" target="_new">Members Area</a>
                </p>
                <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
                <%= f.error_notification %>
                    <div class="form-group login-input">
                        <%= f.input :email, :required => true, :placeholder =>  'Email', label: false, input_html: { class: 'form-control text-input',  value: @email }, :autofocus => true %>
                    </div>
                    <div class="buttons">
                        <%= f.button :submit, 'Activate Access', :class => 'btn btn-success btn-block' %>
                    </div>
                <% end %>
                <div class="links">
                    <%= link_to 'Login', login_path %><br/>
                    <%= link_to 'Forgot your password?', new_user_password_path %><br/>
                </div>
            </div>

        </div>
    </div>
</div>