   <div class="container">
        <div class="full-content-center animated fadeIn extra-margin-top">
            <%= image_tag('alternate-logo.png', :class => "modal-logo") %>
            <div class="box-info">
                <h2>Activate direct access<h2/>
                <p>Enter your email address below</p>
                <%= simple_form_for(resource, :as => resource_name, :url => activate_path, :html => { :method => :post }) do |f| %>
                <%= f.error_notification %>
                    <div class="form-group login-input">
                        <%= f.input :email, :required => true, :placeholder =>  'Email', label: false, input_html: { class: 'form-control text-input' }, :autofocus => true %>
                    </div>
                    <div class="col-sm-12">
                        <%= f.button :submit, 'Check email address', :class => 'btn btn-success btn-block' %>
                    </div>
                <% end %>
            </div>
            <%= render "devise/shared/links" %>
            <%= link_to "Back", :back %>
        </div>
    </div>
