<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Set new password<h2/>
			</div>
			<div class="panel-body">
				<p>
					To set your password, enter it in both fields below.
				</p>
				<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
					<%= f.error_notification %>
					<%= f.input :reset_password_token, :as => :hidden %>
					<%= f.full_error :reset_password_token %>
					<div class="form-group login-input">
						<%= f.input :password, :required => true, :placeholder =>  'New password', label: false, input_html: { class: 'form-control text-input' }, :autofocus => true %>
					</div>
					<div class="form-group login-input">
						<%= f.input :password_confirmation, :required => true, :placeholder =>  'Confirm your new password', label: false, input_html: { class: 'form-control text-input' } %>
					</div>
					<div class="buttons">
						<%= f.button :submit, 'Create new password', :class => 'btn btn-success btn-block', data: { disable_with: "Please wait..." } %>
					</div>
						<div class="links">
							<%= link_to 'Back', :back %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>      
</div>