<!-- Footer -->
<div class="footer">
  <div class="col-xs-12 text-center">
    <p class="copyright">
    <%= link_to 'Home' , root_path %> |
    <%= link_to 'FAQ' , faq_path %> |
    <%= link_to 'Setup Guide' , setup_path %> |
    <%= link_to 'Contact Us' , contact_us_path %> |
    <%= link_to 'Terms of Use' , terms_of_use_path %> |
    <%= link_to 'Swapsea on GitHub' , 'https://github.com/Swapsea/swapsea/' ,
        target: '_blank' %><br />
    &copy; <%= Date.current.year %> Swapsea
    </p>
  </div>

</div> <!-- End footer -->
