<% content_for(:title){ "Terms of Use" } %>

<!-- Navbar -->
<div class="navbar navbar-default navbar-fixed-top landing">
  <div class="container page-scroll">
    <a class="main-logo navbar-left" href="/#home"><h1>Swapsea</h1></a>
    <p class="navbar-text navbar-right">
      <% if ENV['ALLOW_LOGIN'] == 'true' %>
        <% if user_signed_in? %>
          <%= link_to dashboard_path, :class => "btn btn-default btn-lg visible-xs" do %>
            <i class="fa fa-sign-in"></i>
          <% end %>
          <span class="hidden-xs">
            <%= link_to 'Dashboard', dashboard_path, :class => "btn btn-default" %>
          </span>
        <% else %>
          <%= link_to login_path, :class => "btn btn-default btn-lg visible-xs" do %>
            <i class="fa fa-sign-in"></i>
          <% end %>
            <span class="hidden-xs">
              <%= link_to 'Login', login_path, :class => "btn btn-default" %>
            </span>
        <% end %>
      <% end %>
    </p>
  </div>
</div> <!-- End navbar -->



<!-- Jumbotron -->
<div class="jumbotron">
  <div class="container">

    <!-- Intro -->
    <div class="row">
      <div class="col-sm-12">
        <h1><%= content_for(:title) %></h1>
		<p class="heading">
		<p>Updated <strong>6 January 2015</strong></p>
      </div>
    </div> <!-- End intro -->

  </div>
</div> <!-- End Jumbotron -->

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="terms-of-use">
		    <h3>Policy Background and Purpose</h3>
			<p>This policy is intended to be a guide to all users who may view, access or use Swapsea.com.au (Swapsea).  It has been provided by the developer of Swapsea (Developer) as an acknowledgment of the sensitivity of personal data stored and used by Swapsea.</p>
			<p>In addition this policy seeks to extend the protection afforded by the <a href="https://sls.com.au/terms-of-use/">Terms of Use</a> for Surf Life Saving Australia (SLSA) systems, specifically in regards to the protection and privacy of SLSA member's personal details.</p>
			<p>In this policy, the expression “you” is a reference to all users and administrators or any other person who may view, access or use Swapsea.</p>
			<p>These Terms of Use may change from time to time and any changes will be communicated to all registered users of Swapsea.</p>

			<h3>User Responsibilities</h3>
			<p>The following statement outlines the responsibilities of people using Swapsea.</p>
			<p>By using Swapsea, you acknowledge and agree that:</p>
			<ol>
				<li>by logging-in to Swapsea you have agreed to these terms of use and to abide by and act in accordance with this policy;</li>
				<li>you are responsible for any user content posted by you on Swapsea.  You warrant that all user content entered into Swapsea by you:
				<ol type="a">
					<li>is true and correct;</li>
					<li>is not misleading or deceptive, defamatory or obscene;</li>
					<li>does not infringe a third party's intellectual property rights or privacy; and</li>
					<li>can be lawfully published by Swapsea;</li>
					</ol>
				</li>
				<li>only information relating to you or relevant to your duties will be accessed by you;</li>
				<li>information in Swapsea relating to a person is provided in accordance with the <a href="https://sls.com.au/privacy-policy/">SLSA Privacy Policy</a>;</li>
				<li>you will not knowingly give another person your password or access to Swapsea;</li>
				<li>to protect the integrity of the data contained in Swapsea, usage will be monitored.  You acknowledge that you are aware of and agree to this monitoring;</li>
				<li>communication to/with members who are under the age of 18, using data obtained from Swapsea shall be only permitted for the specific purpose of finding a Swap. If unsure, a user should seek advice and/or approval from their Patrol Captain or their Club executive;</li>
				<li>you shall ensure that any device that you use to access Swapsea shall be protected from malicious code, unauthorised access, malware or any other unintended access or use by means of antivirus software, passcode, encryption and or any other accepted means to prevent such malicious access on your device;</li>
				<li>any breach of this policy may result in disciplinary and/or legal action being taken by Swapsea or SLSA (or relevant SLS entity) against you.</li>

	   	</div>
	</div>
</div>
