<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Extra Patrols</h2>
  </div>
  <div class="panel-body">
  <p><%= link_to 'New Extra Patrol', new_outreach_patrol_path, :class => 'btn btn-success' %></p>

  <div class="table-responsive">
  <table class="table table-striped datatable">
    <thead>
      <tr>
        <th>Club</th>
        <th>Name</th>
        <th>Date</th>
        <th>Start</th>
        <th>Finish</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @outreach_patrols.each do |outreach_patrol| %>
        <tr>
          <td><%= outreach_patrol.club.name %></td>
          <td><%= outreach_patrol.location %></td>
          <td><%= outreach_patrol.start.strftime('%a %d %b %y') %></td>
          <td><%= outreach_patrol.start.strftime('%H:%M') %></td>
          <td><%= outreach_patrol.finish.strftime('%H:%M') %></td>
          <td><%= link_to 'Edit', edit_outreach_patrol_path(outreach_patrol) %></td>
          <td><%= link_to 'Delete', outreach_patrol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
<div>