<% content_for(:title){ "Request #" + @request.id.to_s } %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2><%= content_for(:title) %></h2>
	</div>
	<div class="panel-body">
		<div class="request-details">
			<div class="row">
				<label class="col-xs-4 col-sm-2 hidden-xs"><strong>Patrol</strong></label>
				<div class="col-xs-8 col-sm-7">
					<div class="visible-xs"><strong>Patrol</strong></div>
					<%= @request.roster.start.strftime("%A %d %B %Y") %><br/>
					<%= @request.roster.start.strftime("%H:%M") %> - <%= @request.roster.finish.strftime("%H:%M") %><br/>
					<%= @request.roster.patrol.name %>
				</div>
			</div>
			<hr/>
			<div class="row">
				<label class="col-xs-4 col-sm-2 hidden-xs"><strong>Member</strong></label>
				<div class="col-xs-8 col-sm-7">
					<div class="visible-xs"><strong>Member</strong></div>
					<%= @request.user.name %><br/>
					<%= @request.email %><br/>
					<%= @request.mobile %><br/>
				</div>
			</div>
			<hr/>
			<div class="row">
				<label class="col-xs-4 col-sm-2 hidden-xs"><strong>Status</strong></label>
				<div class="col-xs-8 col-sm-7">
					<div class="visible-xs"><strong>Status</strong></div>
					<%= @request.status.capitalize %>
				</div>
			</div>
			<% if @request.open? %>
			<hr/>
			<div class="row">
				<div class="col-xs-4 col-sm-2 hidden-xs"><strong>Member Awards</strong></div>
				<div class="col-xs-8 col-sm-7">
					<div class="visible-xs"><strong>Member Awards</strong></div>
					<% awards = @request.user.awards.map { |n| n.award_name } %>
					<%= raw('Surf Rescue Certificate <br/>') if awards.include?('Surf Rescue Certificate') %>
					<%= raw('Surf Rescue Certificate (CPR Endorsed) <br/>') if awards.include?('Surf Rescue Certificate (CPR Endorsed)') %>
					<%= raw('Bronze Medallion<br/>') if awards.include?('Bronze Medallion') %>
					<%= raw('Advanced Resuscitation Techniques Certificate<br/>') if awards.include?('Advanced Resuscitation Techniques Certificate') %>
					<%= raw('Advanced Resuscitation Techniques<br/>') if awards.include?('Advanced Resuscitation Techniques [AID]') %>
					<%= raw('IRB Crew<br/>') if awards.include?('IRB Crew Certificate') %>
					<%= raw('IRB Driver<br/>') if awards.include?('Silver Medallion IRB Driver') %>
					<%= raw('Basic Beach Management<br/>') if awards.include?('Silver Medallion Beach Management') %>
					<%= raw('Gold Medallion<br/>') if awards.include?('Gold Medallion (Advanced Lifesaving)') %>
					<%= raw('ATV Operator') if awards.include?('ATV Operator Certificate') %>
				</div>
			</div>
			<hr/>
			<div class="row">
				<div class="col-xs-4 col-sm-2 hidden-xs"><strong>Required Awards</strong></div>
				<div class="col-xs-12 col-sm-7">
					<div class="visible-xs"><strong>Required Awards</strong></div>
					<% roster_check = @request.roster.roster_meets_requirements(@request.user) %>
					<%if roster_check[:result] == true %>
						Bronze Medallion or Surf Rescue Certificate
					<% else %>
						Bronze Medallion
						<%= raw('<br/>Advanced Resuscitation Techniques') if roster_check[:artc] < @request.roster.patrol.need_artc %>
						<%= raw('<br/>IRB Crew') if roster_check[:irbc] < @request.roster.patrol.need_irbc %>
						<%= raw('<br/>IRB Driver') if roster_check[:irbd] < @request.roster.patrol.need_irbd %>
						<%= raw('<br/>Basic Beach Management') if roster_check[:bbm] < @request.roster.patrol.need_bbm %>
					<% end %>
				</div>
			</div>
			<% end %>
			<% if @request.comment.present? %>
			<hr/>
			<div class="row">
				<div class="col-xs-4 col-sm-2 hidden-xs"><strong>Comments</strong></div>
				<div class="col-xs-8 col-sm-7">
					<div class="visible-xs"><strong>Comments</strong></div>
						<%= @request.comment %>
				</div>
			</div>
			<% end

			if selected_user == @request.user && @request.open? %>
			<hr/>
			<div class="row">
				<label class="col-xs-4 col-sm-2 hidden-xs"><strong>Nudge me?</strong></label>
				<div class="col-xs-8 col-sm-7">
					<div class="visible-xs"><strong>Nudge me?</strong></div>
					<% if @request.nudge_email_opt_out %>
						No, please don't nudge me to make offers
					<% else %>
						Yes, please nudge me to make offers
					<% end %>
				</div>
			</div>
			<% end

			if selected_user == @request.user && @request.open?
				%>
			<div class="buttons">
				<%= link_to 'Cancel Request', confirm_cancel_request_path(@request), :class => "btn btn-danger" %>
				<%= link_to 'Edit Request', edit_request_path(@request), :class => "btn btn-primary btn-right" %>
				</div>
				<% end %>
		</div><!--/.request-details -->
	</div><!--/.panel-body -->
</div><!--/.panel -->

<% if @request.open? %>
<% if @request.user != selected_user %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Make Offer</h2>
		</div>
		<div class="panel-body">
			<% if @request.num_pending_offers_remaining == 0 %>
				<p><b>Sorry, no more offers can be made as the limit has been reached.</b></br>
				Check back later or ask <%= @request.user.name %> to accept or decline offers below first.</p>
			<%	elsif @rosters_available.empty? %>
				<p>You have no patrols to offer.</p>
			<% else %>
				<%= form_for @offer, url: offers_path do |f| %>
					<%= hidden_field_tag(:request_id, @request.id) %>
					<div class="row">
						<label class="col-xs-4 col-sm-2"><strong>Patrol</strong></label>
						<div class="col-xs-8 col-sm-7">
							<select name="roster_id" class="form-control">
								<% @rosters_available.each do |r| %>
									<option value="<%= r.id %>">
									<% if r.id == nil %>
									SUBSTITUTE ONLY (no swap needed)
									<% else %>
									<%= r.start.strftime("%a %d %b") %> <%= r.start.strftime("%H:%M") %> - <%= r.finish.strftime("%H:%M") %> (<%= r.patrol.name %>)
									<% end %>
									</option>
								<% end %>
							</select>
						</div>
					</div>
					<div class="row">
						<label class="col-xs-4 col-sm-2"><strong>Email</strong></label>
						<div class="col-xs-8 col-sm-7"><%= f.text_field :email, :value => selected_user.email, :class => "form-control" %></div>
					</div>
					<div class="row">
						<label class="col-xs-4 col-sm-2"><strong>Mobile</strong></label>
						<div class="col-xs-8 col-sm-7"><%= f.text_field :mobile, :value => selected_user.mobile_phone, :class => "form-control" %></div>
					</div>
					<div class="row">
						<label class="col-xs-4 col-sm-2"><strong>Comment</strong></label>
						<div class="col-xs-8 col-sm-7"><%= f.text_area :comment, :class => "textbox form-control" %></div>
					</div>
					<div class="form-actions">
						<%= f.button 'Make Offer', :class => "btn btn-success pull-right", data: { disable_with: "Please wait..." } %>
					</div>
				<% end %>
			<% end %>
		</div><!--/.panel-body -->
	</div><!--/.panel -->
<% end %>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Offers</h2>
	</div><!--/.panel-heading -->
	<div class="panel-body">
		<ul class="offers">

			<% if @offers.present? %>

					<% @offers.each do |offer| %>

						<li class="offer">
								<div class="details col-xs-12 col-sm-9">
									<% if offer.roster.present? %>
									<strong><%= offer.roster.start.strftime('%a %e %B') %></strong>
									<%= offer.roster.start.strftime("%H:%M") %> - <%= offer.roster.finish.strftime("%H:%M") %><br/>
									<%= offer.roster.patrol.name %>
									<% else %>
									SUBSTITUTE ONLY (no swap needed)
									<% end %>
									<br/>
									<strong><%= offer.user.name %></strong>
									<span class="comment"><%= offer.comment %></span><br />
									<% check_offer = offer.request.roster.swap_meets_requirements(offer.request.user, offer.user)
										if check_offer[:result] == true %>
										<span class="meets-requirements">Meets award requirements.</span>
									<% else %>
										<span class="doesnt-meet-requirements">May not meet award requirements.</span>
									<% end %>
								</div>

									<% if selected_user == @request.user %>
									<div class="buttons col-xs-12 col-sm-3">
										<%= link_to confirm_decline_offer_path(offer), :class => "btn btn-danger" do %>
												<i class="fa fa-thumbs-down"></i><br/>
												Decline
										<% end %>
										<%= link_to confirm_accept_offer_path(offer), :class => "btn btn-success pull-right" do %>
												<i class="fa fa-thumbs-up"></i><br/>
												Accept
										<% end %>
									</div>
									<% elsif selected_user == offer.user %>
									<div class="buttons col-xs-12 col-sm-3">
										<%= link_to confirm_withdraw_offer_path(offer), :class => "btn btn-danger pull-right" do %>
												<i class="fa fa-times"></i><br/>
												Withdraw Offer
										<% end %>
									</div>
									<% end %>

								<div class="clear"></div>
						</li><!--/.offer-->

					<% end %><!--/offers.each-->

			<% else %>
				<div class="panel-info">
					<p>There are currently no offers.</p>
				</div>
			<% end %>
		</ul><!--/.offers-->
	</div><!--/.panel-body -->
</div><!--/.panel-->

<% elsif @request.successful? %>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Accepted Offer</h2>
		</div>
		<div class="panel-body">
		<% if @request.accepted_offer.roster.present? %>
			<strong><%= @request.accepted_offer.roster.start.strftime("%a %d %b %Y") %></strong><br/>
			<%= @request.accepted_offer.roster.start.strftime("%H:%M") %> - <%= @request.accepted_offer.roster.finish.strftime("%H:%M") %><br/>
			<%= @request.accepted_offer.roster.patrol.name %>
		<% else %>
		SUBSTITUTE ONLY (no swap needed)
		<% end %>
			<br/>
			<%= @request.accepted_offer.user.name %><br/>
			<span class="comment"><%=  @request.accepted_offer.comment %></span>
		</div>
	</div>
<% end %>
