<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :request_id %>
    <%= f.input :user_id %>
    <%= f.input :comment %>
    <%= f.input :mobile %>
    <%= f.input :email %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
