<% content_for(:title){ "Decline Offer?" } %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2><%= content_for(:title) %></h2>
	</div>
	<div class="panel-body">
		<p>Are you sure you want to <strong>decline</strong> this offer?</p>
		<div class="offer-details">
		<div class="row">
			<label class="col-xs-4 col-sm-2 hidden-xs"><strong>Offer</strong></label>
			<div class="col-xs-8 col-sm-7">
				<div class="visible-xs"><strong>Patrol</strong></div>
				<%= @offer.roster.start.strftime("%A %d %B %Y") %><br/>
				<%= @offer.roster.start.strftime("%H:%M") %> - <%= @offer.roster.finish.strftime("%H:%M") %><br/>
				<%= @offer.roster.patrol.name %>
			</div>
		</div>
	</div>
		<div class="buttons">
			<%= link_to @offer.request do %>
				<button class="btn btn-danger"><span class="fa fa-times"></span><br/>Go back</button>
			<% end %>
			<%= link_to decline_offer_path(@offer) do %>
				<button class="btn btn-success pull-right"><span class="fa fa-check"></span><br/>Decline Offer</button>
			<% end %>
		</div>
	</div>
</div>
