<% content_for(:title){ "Accept Offer?" } %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h2><%= content_for(:title) %></h2>
	</div>
	<div class="panel-body">
		<% if @after_swap_request_patrol[:result] && @after_swap_offer_patrol[:result]%>
			<h3>AWESOME!</h3>
			<p>If you accept this offer, both patrols will still meet the minimum award requirements.</p>
		<% else %>
			<h3>ACHTUNG!</h3>
			<p>If you accept this offer, both patrols may not meet the minimum award requirements. You can still Accept the offer, but you should check with the Patrol Captain to make sure first.</p>
		<% end %>

		<div class="offer-details">
		<div class="row">
			<label class="col-xs-4 col-sm-4 hidden-xs">Are you sure you want to <strong>accept</strong> this offer?</label>
			<div class="col-xs-8 col-sm-8">
				<div class="visible-xs"><strong><strong>Accept</strong> this offer?</strong></div>
				<%= @offer.roster.start.strftime("%A %d %B %Y") %><br/>
				<%= @offer.roster.start.strftime("%H:%M") %> - <%= @offer.roster.finish.strftime("%H:%M") %><br/>
				<%= @offer.roster.patrol.name %>
			</div>
		</div>
		<hr />
		<% if @after_swap_request_patrol[:result] %>

			<div class="alert alert-success">
				<p><strong><%= @offer.request.roster.patrol.name %> - <%= @offer.request.roster.start.strftime('%a %d %b %Y') %> will meet minimum requirements.</strong></p>
			</div><!--/.alert -->
			<div class="table-success">
				<%= render 'request_requirements_table' %>
			</div>

		<% else %>

			<div class="alert alert-danger">
				<p><strong><%= @offer.request.roster.patrol.name %> - <%= @offer.request.roster.start.strftime('%a %d %b %Y') %> will <u>not</u> meet minimum requirements</strong></p>
			</div><!--/.alert -->
			<div class="table-danger">
				<%= render 'request_requirements_table' %>
			</div>
		<% end %>

		<% if @after_swap_offer_patrol[:result] %>

			<div class="alert alert-success">
				<p><strong><%= @offer.roster.patrol.name %> - <%= @offer.roster.start.strftime('%a %d %b %Y') %> will meet minimum requirements.</strong></p>
			</div><!--/.alert -->
			<div class="table-success">
				<%= render 'offer_requirements_table' %>
			</div>

		<% else %>

			<div class="alert alert-danger">
				<p><strong><%= @offer.roster.patrol.name %> - <%= @offer.roster.start.strftime('%a %d %b %Y') %> will <u>not</u> meet minimum requirements.</strong></p>
			</div><!--/.alert -->
			<div class="table-danger">
				<%= render 'offer_requirements_table' %>
			</div>

		<% end %>


		<div class="buttons">
			<%= link_to @offer.request do %>
				<button class="btn btn-danger"><span class="fa fa-backward"></span><br/>Cancel</button>
			<% end %>
			<%= link_to accept_offer_path(@offer) do %>
				<button id="btn-accept" class="btn btn-success pull-right"><span id="btn-accept-icon" class="fa fa-check"></span><br/>Accept Offer</button>
			<% end %>
		</div>


	</div><!--/.panel-body -->
</div><!--/.panel -->
