<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Request</th>
      <th>User</th>
      <th>Comment</th>
      <th>Mobile</th>
      <th>Email</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.request_id %></td>
        <td><%= offer.user_id %></td>
        <td><%= offer.comment %></td>
        <td><%= offer.mobile %></td>
        <td><%= offer.email %></td>
        <td><%= offer.status %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
