<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @offer.request_id %>
</p>
<p>
  <strong>Roster ID:</strong>
  <%= @offer.roster_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @offer.user_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @offer.comment %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @offer.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @offer.email %>
</p>

<p>
  <strong>Status:</strong>
  <%= @offer.status %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
