<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Email Log</h2>
	</div>
	<div class="panel-body">
		<table class="table">
			<tr><td>&lt; 1 day</td><td><%= @emails.where('created_at >= ?', DateTime.now - 24.hours).count %></td></tr>
			<tr><td>1 - 7 days</td><td><%= @emails.where('created_at >= ? AND created_at < ?', DateTime.now - 7.days, DateTime.now - 24.hours).count %></td></tr>
			<tr><td>> 7 days</td><td><%= @emails.where('created_at < ?', DateTime.now - 72.hours).count %></td></tr>
		</table>

		<div class="table-responsive">
			<table id="email-table" class="table table-striped dataTable row-border no-footer nowrap" cellspacing="0" width="100%" data-table="true">
				<thead>
					<th>Sent</th>
					<th>Email</th>
					<th>Subject</th>
				</thead>
				<tbody>
				<% @emails.each do |email| %>
						<tr>
							<td><%=time_ago_in_words(email.created_at) %> ago (<%= email.created_at.strftime('%d-%m-%y %H:%M:%S') %>)</td>
							<td><%= email.to %></td>
							<td><%= email.subject %></td>

						</tr>
				<% end %>
				</tbody>
			</table>
			<%= will_paginate @emails %>
		</div><!--/.table-responsive -->
	</div>
</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Welcome Email - one off</h2>
		</div>
		<div class="panel-body">
			<%= form_tag send_welcome_email_test_emails_path do %>
				<p>
					Send welcome email to any valid user.
				</p>
				<p>
					<%= email_field_tag :email %>
				</p>
				<p>
					<%= submit_tag 'Send Welcome Email to this User', :class => 'btn btn-sm btn-success' %>
				</p>
			<% end %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Welcome Email - Whole Club</h2>
		</div>
		<div class="panel-body">
			<%= form_tag send_welcome_email_emails_path do %>
				<p>
					Send welcome email to all patrollers in a Club. <b>Be careful not to send duplicates</b>.
				</p>
				<p>
					<%= select_tag :organisation, options_for_select(Club.with_show_patrols.map { |c| [c.name] }) %>
				</p>
				<p>
					<%= submit_tag 'Send Welcome Email to this Club', :class => 'btn btn-sm btn-success' %>
				</p>
			<% end %>
		</div>
	</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Weekly Rosters</h2>
	</div>
	<div class="panel-body">
		<%= form_tag(send_weekly_patrol_rosters_emails_path) do %>
			<p>
				Send upcoming patrol reminders. <b>Be careful not to send duplicates</b>.
			</p>
			<p>
				<%= select_tag :organisation, options_for_select(Club.with_show_rosters.map { |c| [c.name] }) %>
			</p>
			<p>
			  	<%= submit_tag 'Send Patrol Roster Reminder', :class => 'btn btn-sm btn-success' %>
			</p>
		<% end %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Weekly Skills Maintenance</h2>
	</div>
	<div class="panel-body">
		<%= form_tag send_weekly_skills_maintenance_emails_path do %>
			<p>
				Send upcoming skills maintenance reminders. <b>Be careful not to send duplicates</b>.
			</p>
			<p>
				<%= select_tag :organisation, options_for_select(Club.with_show_skills_maintenance.map { |c| [c.name] }) %>
			</p>
			<p>
			  	<%= submit_tag 'Send Skills Maintenance Reminder', :class => 'btn btn-sm btn-success' %>
			</p>
		<% end %>
	</div>
</div>
