<%= simple_form_for(@swap) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :roster_id %>
    <%= f.input :user_id %>
    <%= f.input :on_off_patrol %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
