  <div class="row">

    <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified">
        <li class="col-xs-12"><%= link_to 'Open Requests', swaps_path %></li>
        <li class="col-xs-12 active"><%= link_to 'Confirmed Swaps', confirmed_swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'My Requests', my_requests_swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'My Offers', my_offers_swaps_path %></li>
      </ul>
    </div>
    <div class="divider-25"></div>

    <div class="col-sm-12">
      <div class="requests">

        <% if @swaps %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Confirmed Swaps</h2>
          </div>
          <div class="panel-body">
            <div class="swap-requests">
              <% @swaps.map do |offer| %>
              <div class="swap-request">
                <div class="details col-xs-5">
                  <span class="name"><s><%= offer.request.user.name %></s></span> 
                  <span class="name"><strong><%= offer.user.name %></strong></span><br/>
                  <%= offer.request.roster.patrol.short_name ? offer.request.roster.patrol.short_name : offer.request.roster.patrol.name %><br/>
                  <%= offer.request.roster.start.strftime("%a, %d %b %y") %><br/>
                  <%= offer.request.roster.start.strftime("%H:%M") %> - <%= offer.request.roster.finish.strftime("%H:%M") %><br/>
                  <span class="created-at">Updated <%= time_ago_in_words(offer.updated_at) %> ago</span>
                </div>
                <div class="details col-xs-2">
                  <div class="arrows"><i class="fa fa-arrows-h fa-2x"></i></div>
                </div>
                <div class=" details col-xs-5">
                  <span class="name"><s><%= offer.user.name %></s></span> <span class="name"><strong><%= offer.request.user.name %></strong></span><br/>
                  <% if offer.roster %>
                  <%= offer.roster.patrol.short_name ? offer.roster.patrol.short_name : offer.roster.patrol.name %><br/>
                  <%= offer.roster.start.strftime("%a, %d %b %y") %><br/>
                  <%= offer.roster.start.strftime("%H:%M") %> - <%= offer.roster.finish.strftime("%H:%M") %>
                  <% else %>
                  No Patrol offered
                  <% end %>
                </div>

              </div><!--/.swap-request -->
              <% end %>
            </div><!--/.swap-requests -->
          </div><!--/.panel-body -->
        </div><!--/.panel -->
        <% else %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Confirmed Swaps</h2>
          </div>
          <div class="panel-info">
            <p>There are currently no confirmed swaps.</p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>