  <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="col-xs-12 active"><%= link_to 'Open Requests', swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'Confirmed Swaps', confirmed_swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'My Requests', my_requests_swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'My Offers', my_offers_swaps_path %></li>
      </ul>
    </div>
    <div class="divider-25"></div>
  </div>

  <div class="col-sm-12">
    <div class="requests">
      <% if @swaps.present? %>           
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Swap Requests</h2>
        </div>
        <div class="panel-body">
          <div class="swap-requests">
            <% @swaps.each do |request| %>
            <div class="swap-request">
              <div class="datetime col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong> 
                  <%= request.roster.start.strftime("%a, %d %b %y") %>
                </strong>
              </div><!--/.datetime -->
              <div class="details col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <%= request.roster.start.strftime("%H:%M") %> - <%= request.roster.finish.strftime("%H:%M") %><br/>
                <%= request.user.first_name %> <%= request.user.last_name %>
                (<%= request.roster.patrol.short_name ? request.roster.patrol.short_name : request.roster.patrol.name %>) <i><%= request.comment %></i><br/>
              </div>
              <div class="details col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <em><%= pluralize(request.offers.where(:status => 'pending').count, "Offer", "Offers") %></em>
              </div>
              <%= link_to request, :class => 'offer offer-view col-xs-2 col-sm-2 col-md-2 col-lg-2' do %>
              View
              <% end %>
            </div><!--/.swap-request -->
            <% end %>
          </div><!--/.swap-requests -->
        </div><!--/.panel-body -->
      </div><!--/.panel -->       
      <% else %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Swap Requests</h2>
        </div>
        <div class="panel-info">
          <p>There are currently no swap requests.</p>
        </div>
      </div>
      <% end %>
    </div>
  </div><!--/.col -->
  </div><!--/.row -->