<% content_for(:title){ "Open Swap Requests" } %>
<div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="col-xs-12 active"><%= link_to 'Swap Requests', swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'My Requests', my_requests_swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'My Offers', my_offers_swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'Confirmed Swaps', confirmed_swaps_path %></li>
      </ul>
    </div>
    <div class="divider-25"></div>
  </div>

  <div class="col-sm-12">
    <div class="requests">
      <% if @swaps.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2><%= content_for(:title) %></h2>
        </div>
        <div class="panel-body">
          <div class="swap-requests">
            <% @swaps.each do |request| %>
            <div class="swap-request">
              <div class="datetime col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <strong>
                  <%= request.roster.start.strftime("%a, %d %b %y") %>
                </strong>
              </div><!--/.datetime -->
              <div class="details col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <%= request.roster.start.strftime("%H:%M") %> - <%= request.roster.finish.strftime("%H:%M") %><br/>
                <%= request.user.first_name %> <%= request.user.last_name %>
                (<%= request.roster.patrol.short_name ? request.roster.patrol.short_name : request.roster.patrol.name %>) <i><%= request.comment %></i><br/>
              </div>
              <div class="details col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <em><%=
                count = request.offers.with_pending_status.count
                if count > 0
                  pluralize(count, "Offer", "Offers")
                end
                %></em>
              </div>
              <%= 
              # View only for requestor's requests, or if no offers remaining
              if request.num_pending_offers_remaining == 0 || request.user == selected_user
                link_to 'View', request, :class => 'offer offer-disabled col-xs-2 col-sm-2 col-md-2 col-lg-2' 
              else
                link_to 'Make Offer', request, :class => 'offer offer-view col-xs-2 col-sm-2 col-md-2 col-lg-2 active' 
              end
                %>
            </div><!--/.swap-request -->
            <% end %>
          </div><!--/.swap-requests -->
        </div><!--/.panel-body -->
      </div><!--/.panel -->
      <% else %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Swap Requests</h2>
        </div>
        <div class="panel-info">
          <p>There are currently no swap requests.</p>
        </div>
      </div>
      <% end %>
    </div>
  </div><!--/.col -->
  </div><!--/.row -->
