    <div class="row">
    <div class="col-sm-12">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="col-xs-12"><%= link_to 'Open Requests', swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'Confirmed Swaps', confirmed_swaps_path %></li>
        <li class="col-xs-12"><%= link_to 'My Requests', my_requests_swaps_path %></li>
        <li class="col-xs-12 active"><%= link_to 'My Offers', my_offers_swaps_path %></li>
      </ul>
    </div>
    <div class="divider-25"></div>
  </div>

  <div class="col-sm-12">
    <div class="requests">

      <% if @swaps.present? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>My Offers</h2>
        </div>
        <div class="panel-body">
          <div class="swap-requests">
            <% @swaps.each do |offer| %>
            <div class="swap-request">
              <div class="details col-xs-4">
                <strong><%= offer.user.name %></strong>
                <% if offer.roster %>
                (<%= offer.roster.patrol.short_name.present? ? offer.roster.patrol.short_name : offer.roster.patrol.name %>)<br/>
                <%= offer.roster.start.strftime("%a, %d %b %y") %><br/>
                <%= offer.roster.start.strftime("%H:%M") %> - <%= offer.request.roster.finish.strftime("%H:%M") %><br/><% end %>
                <span class="created-at">Updated <%= time_ago_in_words(offer.created_at) %> ago</span>
              </div>
              <div class="details col-xs-2">
                <div class="arrows"><i class="fa fa-arrow-right fa-2x"></i></div>
              </div>
              <div class=" details col-xs-4">
                <strong><%= offer.request.user.name %></strong>
                (<%= offer.request.roster.patrol.short_name.present? ? offer.request.roster.patrol.short_name : offer.request.roster.patrol.name %>)<br/>
                <%= offer.request.roster.start.strftime("%a, %d %b %y") %><br/>
                <% if offer.roster %>
                <%= offer.request.roster.start.strftime("%H:%M") %> - <%= offer.roster.finish.strftime("%H:%M") %><%end%>
              </div>
              <% if offer.status == 'pending' %>
              <%= link_to offer.request, :class => 'offer offer-view col-xs-2' do %>
              View
              <% end %>
              <% elsif offer.status == 'accepted' %>
              <%= link_to offer.request, :class => 'offer offer-accepted col-xs-2' do %>
              Accepted
              <% end %>
              <% elsif offer.status == 'unsuccessful' || offer.status == 'declined' || offer.status == 'cancelled' %>
              <%= link_to offer.request, :class => 'offer offer-not-accepted col-xs-2' do %>
              <%= offer.status.capitalize! %>
              <% end %>
              <% elsif offer.status == 'withdrawn' %>
              <%= link_to offer.request, :class => 'offer offer-disabled col-xs-2' do %>
              <%= offer.status.capitalize! %>
              <% end %>
              <% elsif offer.status == 'deleted' %>
              <div class='offer offer-not-accepted-no-link col-xs-2'>
                Request Cancelled
              </div>
              <% else %>
              <div class='offer offer-not-accepted-no-link col-xs-2'>
                Error
              </div>
              <% end %>
            </div><!--/.swap-request -->
            <% end %>
          </div><!--/.swap-requests -->
        </div><!--/.panel-body -->
      </div><!--/.panel -->
      <% else %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>My Offers</h2>
        </div>
        <div class="panel-info">
          <p>You have not made any offers yet.</p>
        </div>
      </div><!--/.panel -->
      <% end %>
    </div>
  </div>