<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? title_tag : "Swapsea" %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Swapsea" %>">
		<meta name="keywords" content="Swapsea">
		<%= stylesheet_link_tag "basic-layout", :media => "all" %>
		<%= render 'application/favicon' %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top container-fluid" role="navigation">
			<ul class="nav navbar-nav hidden-xs">
				<li>
			         <span>
			         	<button type="reset" class="btn btn-default" onclick="window.history.back();">Back</button>
			         </span>
			    </li>
			</ul>
			<ul class="navbar-logo-container">
				<a class="navbar-logo" href="/"><h1>Swapsea</h1></a>
			</ul>
		</div>
		<div class="container">

			<%= render 'layouts/messages' %>

			<%= yield %>

			<%= render 'home/footer_small' %>
			<%= javascript_include_tag "basic-layout" %>
			<%= yield :scripts %>
			<%= render 'layouts/ga' %>
		</div>
	</body>
</html>
