<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? title_tag : "Swapsea" %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Swapsea" %>">
		<meta name="keywords" content="Swapsea">
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= render 'application/favicon' %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>
		<%= render 'layouts/messages' %>

		<%= yield %>

		<%= render 'home/footer_small' %>
		<%= javascript_include_tag "application" %>
		<%= yield :scripts %>
		<%= render 'layouts/ga' %>
		<%= render 'layouts/hubspot' %>
		<%= render 'layouts/doorbell' %>
	</body>
</html>
