<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "Swapsea" %></title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Swapsea" %>">
		<meta name="keywords" content="Swapsea">
		<meta name="author" content="Mark Hudson and Alex Carroll">
		<%= wicked_pdf_stylesheet_link_tag "reports" %>
		<%= csrf_meta_tags %>
		<%= yield(:head) %>
	</head>
	<body>

		<%= yield %>

	</body>
</html>
